<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Site</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/sites" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="site[title]" id="title" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="site[location]" id="location" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">
                        <span class="form-file-text">Site image(s)</span>
                    </label>
                    <input class="form-control" type="file" accept="image/*" capture="environment" id="formFileMultiple" name="image" multiple>
                </div>
                <!-- <input type="file" name="image" id="" multiple> -->
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image</label>
                    <input class="form-control" type="text" name="site[image]" id="image" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="attractions">Attractions</label>
                    <input class="form-control" type="text" name="site[attractions]" id="attractions" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" name="site[description]" id="description"
                        required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Site</button>
                </div>
            </form>
            <a href="/sites">All Sites</a>
        </div>
    </div>